<div class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard:dashboard' %}">
                 HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:report' %}">
                     REPORTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:settings' %}">
                     SETTINGS</a>
            </li>
        </ul>
    </div>
</div>
